# General
numpy
streamlit

# Portfolio Optimization
PyPortfolioOpt
scikit-learn

fastapi         # API framework
pytz            # time zone management
uvicorn         # web server

# BigQuery
google-cloud-bigquery
google-cloud-storage
db_dtypes

# Tensorflow
tensorflow-macos==2.10.0; sys_platform == 'darwin' and 'ARM' in platform_version # Mac M-chips
tensorflow==2.10.0; sys_platform == 'darwin' and 'ARM' not in platform_version # Mac Intel chips
tensorflow==2.10.0; sys_platform != 'darwin' # Windows & Ubuntu Intel chips

# Darts
darts

# Jupyter
ipykernel

# needed to make riskfolio plots work
pybind11
cvxpy
riskfolio-lib
matplotlib==3.7.0
